bin/
obj/
TestResults/
Publish/
packages/
.svn/
Debug/
Release/
x86/
x64/
_Resharper.*/
Logs/
*.suo
*.user
*.log
*.pubxml
StyleCop.Cache
837.Data/
Forms.Data/
PublishProfiles/
SessionCache/
ShoppingCache/
/.vs/config/applicationhost.config
/SwissVault/.vs/config/applicationhost.config
/GeoSplash.Design/Static_Full_Version
/GeoSplash.Web/createCustomer.svq
/GeoSplash.Web/Content/Uploads
/GeoSplash.Data/zip_code_database.csv
/GeoSplash.Data/zipCodeFile.tsv
/GeoSplash.Data/ZIP.ZIP
/GeoSplash.Data/xtract.txt
/GeoSplash.Data/us_postal_codes.csv
/GeoSplash.Data/free-zipcode-database.csv
/GeoSplash.Data/free-zipcode-database-Primary.csv
/GeoSplash.Data/bing.result.json
/wrap/SingularityEpure.GeoSplash.Core/project.lock.json
/GeoSplash.Data/us
*.ide
/.vs/GeoSplash/v15/Server/sqlite3/db.lock
/.vs/GeoSplash/v15/Server/sqlite3/storage.ide-shm
/.vs/GeoSplash/v15/Server/sqlite3/storage.ide-wal
/.vs/GeoSplash/v15/sqlite3/db.lock
/.vs/GeoSplash/v15/sqlite3/storage.ide-shm
/.vs/GeoSplash/v15/sqlite3/storage.ide-wal
/.vs/GeoSplash/DesignTimeBuild/.dtbcache
/.vs/GeoSplash
/.vs/ProjectEvaluation
